.Hero {
  display: flex;
  height: 77%;
  margin-top: 3.5rem;
}

.profile img {
  margin-right: auto;
  margin-left: auto;
  width: 77%;
  border-radius: 50%;
  object-fit: fill;
  overflow: hidden;
}

.img-container {
  color: black;
  position: absolute;
  width: 50%;
}
/* left side styling */
.wrapper {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  gap: 2rem;
  z-index: 100;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profile > :nth-child(1) {
  color: var(--primary-color);
  padding: 0;
  font-weight: bold;
  font-size: 1.8rem;
}
.profile > :nth-child(2) {
  color: var(--gray);
}
.profile > :nth-child(2) span {
  font-weight: 100;
  font-size: 1.7rem;
  margin-top: 10px;
}

.i-button {
  width: 6rem;
  height: 2rem;
}
.icons {
  position: relative;
  left: -23px;
  margin-top: 0.5rem;
  display: flex;
  gap: 0rem;
}
.icons > * {
  transform: scale(0.5);
}
.icons > *:hover {
  cursor: pointer;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 600px) {
  .Hero {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  .i-right .blur {
    display: none;
  }
}
