.skills {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.awesome {
  display: flex;
  flex-direction: column;
}

.awesome > :nth-child(1) {
  font-size: 1.8rem !important;
  color: var(--primary-color) !important;
  font-weight: bold;
}

.awesome > :nth-child(2) {
  font-size: 1.2rem !important;
  color: gray !important;
}

.skills .icons {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: end;
  gap: 10px;
}

.skills .icons a {
  display: block;
}

.skills .icons a img {
  width: 45%;
  height: 100%;
}

@media screen and (max-width: 480px) {
}
