.skills {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.awesome {
  display: flex;
  flex-direction: column;
}

.awesome > :nth-child(1) {
  font-size: 1.8rem !important;
  color: var(--primary-color) !important;
  font-weight: bold;
}

.awesome > :nth-child(2) {
  font-size: 1.2rem !important;
  color: gray !important;
}

.skills .icons {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  text-align: center;
  column-gap: 0px;
  row-gap: 25px;
}

.skills .icons div {
  width: 100%;
}

.skills .icons a {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80%;
}

.skills .icons a img {
  width: 40%;
  height: 100%;
}

.skills .icons span {
  display: block;
  height: 20%;
}

@media screen and (min-width: 600px) {
  .skills .icons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    height: 280px;
    gap: 30px;
    row-gap: 5px;
    position: relative;
    left: -30px;
  }

  .skills .icons div {
    width: auto;
    height: 100%;
    padding-top: 20px;
  }

  .skills .icons a {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80%;
  }

  .skills .icons a img {
    width: auto;
    height: 75%;
  }

  .skills .icons span {
    padding-top: 10px;
  }
}
